<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div>
        <form action ="/scelta" method="get">
            <p>scegli  il servizio <br>
                <input type = "radio" name = "servizio" value="1servizio" />numero di prodotti per ogni categoria <br>
                <input type = "radio" name = "servizio" value="2servizio" />numero di ordini per ogni store <br>
                <input type = "radio" name = "servizio" value="3servizio" />numero di prodotti per ogni brand <br>
                <input type = "radio" name = "servizio" value="4servizio" />elenco dei prodotti che cominciano con una certa stringa di caratteri <br>
            </p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    </div>
</body>